.padding-top-10 {
    padding-top: 10px;
}

.padding-top-25 {
    padding-top: 25px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-250 {
    padding-top: 250px;
}

.padding-right-10 {
    padding-right: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.show {
    display: block;
}

.text-align-center {
    text-align: center;
}

.title-image {
    height: 65px;
    width: 65px;
}

.margin-5 {
    margin: 5px;
}

.btn-blue.btn-lg, .btn-primary.btn-lg {
    text-shadow: #2770a0 0px 1px 0px;
}

.heroes-custom-img {
    max-width: 450px;
    max-height: 450px;
}

.cursor-pointer {
    cursor: pointer;
}

.img-center {
    display: block;
    padding: 0 2px 0 2px;
    margin: auto;
}

/* MEDIA QUERIES */
/*Phones (<768px)*/
@media (max-width: 767px) {
    .heroes-custom-img {
        max-width: 350px;
        max-height: 350px;
    }
}